#container{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    border: 2px solid #69f3ff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    align-content: space-around;
}
#container div{
    height:100px;
    width:100px;
    background-color: grey;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
}