body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{

    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    background-color: green;
    margin: 10px;
    
}
.red{
    background-color: rgba(238, 79, 11, 0.932);
}
.yellow{
    background-color: rgb(241, 213, 5);
}
.green{
    background-color: rgb(18, 205, 108);
}
.purple{
    background-color: rgb(211, 76, 219);
}
.flash{
    background-color: white;
}